/* button search*/
.search {
 display: inline-flex;
 align-items: center;
 justify-content: center;
 padding: 15px 30px;
 border: 0;
 height: 40px;
 position: absolute;
 left: 10px;
 bottom: 7px;
 overflow: hidden;
 border-radius: 10rem;
 transition: all 0.02s;
 font-weight: bold;
 color: rgb(37, 37, 37);
 z-index: 0;
 box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button:hover {
 background: rgb(193, 228, 248);
 color: rgb(33, 0, 85);
}

.button:active {
 transform: scale(0.97);
}

.hoverEffect {
 position: absolute;
 bottom: 0;
 top: 0;
 left: 0;
 right: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 1;
}

.hoverEffect div {
 background: rgb(222,0,75);
 background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
 border-radius: 40rem;
 width: 10rem;
 height: 10rem;
 transition: 0.4s;
 filter: blur(20px);
 animation: effect infinite 3s linear;
 opacity: 0.5;
}

.button:hover .hoverEffect div {
 width: 8rem;
 height: 8rem;
}

@keyframes effect {

 0% {
 transform: rotate(0deg);
 }

 100% {
 transform: rotate(360deg);
 }

 
}

/* The search field */
#myInput {
 box-sizing: border-box;
 background:white;
 color: black;
 background-position: 14px 12px;
 background-repeat: no-repeat;
 font-size: 16px;
 padding: 14px 20px 12px 45px;
 border: solid 1px black;
 border-radius: 20px;
 border-bottom: 1px solid black ;
 box-shadow: 0 0 10px rgba(10, 10,10,0.4);
}

/* The search field when it gets focus/clicked on */

#myInput:focus {outline: .1px solid #000000;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 
 position: absolute;
 top: 50px;
 background-color: #F9F9F9;
 min-width: 230px;
 border: 1px solid #000000;
 z-index: 1;
 border-radius: 20px;
 overflow:auto;
 height: 400px;
 
 
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #DBDBDB}

.show {display:block;
 
}


h1.text{
 font-size: 18px;
 position: relative;
 bottom: 20px;
}

 ::-webkit-scrollbar{
 background: transparent; 
 border-radius: 90px;
 
 display: block;
 width: 5px;
 }



::-webkit-scrollbar {
 display: block;
 width: 4.5px;
 
 border-radius: 50px;
}
::-webkit-scrollbar-track {
 background: transparent;
 border-radius: 50px;
}
 
::-webkit-scrollbar-thumb {
 background: linear-gradient(to top,red,blue);
 border-right: none;
 border-left: none;
 border-radius: 50px;
}
::-webkit-scrollbar-track-piece:end {
 background: transparent;
 margin-bottom: 20px; 
 border-radius: 50px;
}
::-webkit-scrollbar-track-piece:start {
 background: transparent;
 margin-top: 40px;
 border-radius: 80px;
}


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  
  color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #000000;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

img{
  width: 76px;
  height: 76px;
  position: relative;
  left: 130px;
  border: double 2px black;
  border-radius: 40px;
}